<div class ="col-lg-4 col-lg-offset-1">
	<h1>New client</h1>
<br />
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link', class: "btn btn-default") %>
<br />
<br />
<%= render 'form' %>

</div>
