<div class="col-lg-4">

<h1>Editing project</h1>

<br />
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link', class: "btn btn-default") %>
<br />
<br />
<%= render 'form' %>

</div>